.logotipo img {
  width: 150px;
  height: 150px;
}
nav {
  width: 100%;
  margin: 0 auto;
}
.menu {
  background-color: green;
  width: 19%;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  padding: 15px 0px;
}
.menu a {
  color: white;
  font-weight: bold;
}
footer {
  text-align: center;
  background-color: rgb(59, 53, 53);
  color: white;
  padding: 50px 0px;
}
